html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  color: $black;
  letter-spacing: 0.02rem;
}

.main {
  h1,
  *.h1 {
    font-size: $font-size-h2;
  }

  h2,
  *.h2 {
    font-size: $font-size-h3;
  }

  h3,
  *.h3 {
    font-size: $font-size-h4;
  }

  h4,
  *.h4 {
    font-size: $font-size-content;
  }
}