# tell npm that packages whose names start with '@vp/' are always found in Vistaprint Artifactory
@vp:registry=https://vistaprint.jfrog.io/vistaprint/api/npm/npm/
@vistaprint:registry=https://vistaprint.jfrog.io/vistaprint/api/npm/npm/
 
# this is where npm will find the credentials that it'll use to authenticate with Vistaprint Artifactory
//vistaprint.jfrog.io/vistaprint/api/npm/npm/:_authToken=${VP_ARTIFACTORY_TOKEN}