{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "requirePragma": false,
  "semi": true
}
