@import '~styles/config';

.button {
  @include reset-button;

  position: fixed;
  right: 292px;
  top: 0;
  z-index: 9001;
  opacity: 1;

  padding: 0 15px;
  height: 26px;

  font-size: 12px;
  color: #999;
  text-transform: uppercase;

  cursor: pointer;
  pointer-events: all;

  background-color: #fff;

  border-style: solid;
  border-width: 0 1px 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;

  transition: opacity 0.25s, transform 0.1s;

  &:hover {
    color: #000;
  }

  &.visible {
    color: #328bf3;
  }
}
