@import url('https://fonts.googleapis.com/css?family=K2D:400,400i&display=swap');

html, 
body {
  height: 100%
}

body {
  text-align: center;
  font-family: 'K2D', sans-serif;
  background-image: url("https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/working_late_pukg.svg");
  padding: 30px;
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 250px;
  background-size: 45%;
  background-color: #2e2c4a;
}

h1 {
  margin-bottom: 0;
}

h1, 
p {
  color: #f4fcff;
}

p {
  font-size: 24px;
  font-style: italic;
  max-width: 700px;
  line-height: 1.4;
  letter-spacing: .25px;
}

.box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 60px 40px;
  max-width: 450px;
  min-width: 350px;
  min-height: 350px;
  background-color: #fff;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
  
  > * {
    width: 100%;
  }
}

.flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  margin-top: 30px;
  background-color: #611f69;
  color: #fff;
  fill: #fff;
  font-size: .875rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.28571429;
  letter-spacing: .8px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 19px 40px 20px;
  display: block;
  width: 100%;
  transition: box-shadow 420ms;

  &:disabled {
    background-color: rgba(97, 31, 105, 0.3);
    cursor: not-allowed;
  }
}

.avatar {
  border-radius: 50%;
}

// Remove background image and adjust box alignment and size on mobile
@media only screen and (min-width<1281px) {
  body {
    background: none;
  }
}

@media only screen and (min-width<=768px) {
  .box {
    min-width: 95%;
  }
}
