@import url('https://fonts.googleapis.com/css?family=K2D:400,400i&display=swap');

$padding: 20px;
$box-shadow: 0 10px 25px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
$dark-blue: #2e2c4a;
$purple: #611f69;

html, 
body {
  height: 100%
}

body {
  text-align: center;
  font-family: 'K2D', sans-serif;
  background-image: url("https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/working_late_pukg.svg");
  padding: $padding;
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 250px;
  background-size: 45%;
  background-color: $dark-blue;
}

h1 {
  margin-bottom: 0;
}

h1, 
p {
  color: #f4fcff;
}

p {
  font-size: 20px;
  font-style: italic;
  max-width: 700px;
  line-height: 1.4;
  letter-spacing: .25px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  padding: $padding 0;
  background-color: #f4fcff;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.footer__link {
  margin-right: $padding;

  a {
    color: $purple;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid $purple;

    }
    display: flex;
    align-items: center;
  }

  .footer__link-icon {
    margin-right: 5px;
    height: 25px;
  }
}

.box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 60px 40px;
  max-width: 450px;
  min-width: 350px;
  min-height: 350px;
  background-color: #fff;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: $box-shadow;
  
  > * {
    width: 100%;
  }
}

.flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  margin-top: 30px;
  background-color: $purple;
  color: #fff;
  fill: #fff;
  font-size: .875rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.28571429;
  letter-spacing: .8px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 19px 40px 20px;
  display: block;
  width: 100%;
  transition: box-shadow 420ms;

  &:disabled {
    background-color: rgba(97, 31, 105, 0.3);
    cursor: not-allowed;
  }
}

.calendarContainer {
  width: 800px;
  height: 600px;
  
  > * {
    width: 100%
  }
}

.styleCalendar {
  border: 0;
  frameborder: 0;
  scrolling: no;
}

// Remove background image and adjust box alignment and size on mobile
@media only screen and (max-width: 1281px) {
  body {
    background-image: none;
  }
}

@media only screen and (max-width: 767px) {
  .box {
    min-width: 95%;
  }

  .footer {
    justify-content: center;
  }
}
