@import '~styles/config';

.header {
  display: block;

  margin: 0 0 $gutter;

  background-color: #fff;

  &__container {
    @include container;
  }

  &__content {
    display: flex;
    align-items: center;

    padding: $gutter 0;

    border-bottom: 1px solid #ccc;
  }

  &__logo {
    @include reset-anchor;

    &Svg {
      display: block;
    }
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }
}
