:root {
  --color: pink;
}

.postcss-nav-example {
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li { display: inline-block; }

  & a {
    background: var(--color);
    border-radius: 3px;
    display: block;
    margin-right: 6px;
    padding: 3px 9px;
    text-decoration: none;
  }
}

.the-postcss-class {
  text-decoration: underline;
}

