/* Variables */
@color: pink;

/* Mixin */
.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.less-nav-example {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    background: @color;
    .border-radius(3px);
    display: block;
    margin-right: 6px;
    padding: 3px 9px;
    text-decoration: none;
  }
}
.the-less-class {
  text-decoration: underline;
}
